.imageGridTwoCols {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 640px) {
  .imageGridTwoCols {
    grid-template-columns: repeat(2, 1fr);
  }
}

.imageGridItem {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  display: block;
}

@media (prefers-color-scheme: dark) {
  .imageGridItem {
    border-color: #1f2937;
  }
}